rules/mits-5.0/xsd/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  MITS 5.0 XSD Schema - Placeholder
  This is a placeholder schema file. Replace with the official MITS 5.0 schema
  when it becomes available.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/mits"
           xmlns:mits="http://example.com/mits"
           elementFormDefault="qualified">

  <!-- Placeholder root element -->
  <xs:element name="mits" type="mits:MitsType">
    <xs:annotation>
      <xs:documentation>MITS 5.0 root element</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="MitsType">
    <xs:sequence>
      <xs:element name="property" type="mits:PropertyType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PropertyType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="address" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>

</xs:schema>
